config gateway 'main'
        option enabled '1'
        option bacnet_interface 'br-lan'
        option mqtt_host '127.0.0.1'
        option mqtt_port '1883'
        option mqtt_mode 'generic'
        option mqtt_tls '0'
        option mqtt_ca_file '/etc/ssl/certs/ca-certificates.crt'
        option mqtt_cert_file ''
        option mqtt_key_file ''
        option controller_id ''
        option controller_license ''
        option topic_root 'bacnet'
        option poll_ms '5000'
        option discovery_ms '10000'
        option max_age_sec '300'
